/* Common values for all exercises */
.root {
  -fx-background-color: #cce6ef;
}

/* Specific values for excercise 4.7  */
.exercise-4-7-label {
  -fx-font-size: 16;
  -fx-font-weight: bold;
}
.exercise-4-7 .table-view .label,
.exercise-4-7 .first-column {
  -fx-background-image: url("signaturebg2.gif");
  -fx-font-size: 12;
  -fx-font-weight: bold;
  -fx-background-color: #d7d7d7;
  -fx-background-repeat: repeat-x;
  -fx-min-height: 18px;
}
.exercise-4-7 .table-column {
  -fx-alignment: CENTER;
}
.exercise-4-7 .first-column {
  -fx-alignment: CENTER;
}

/* Specific values for excercise 4.8  */
.exercise-4-8-label {
  -fx-font-size: 16;
  -fx-font-weight: bold;
}
.exercise-4-8-gridpane {
  -fx-padding: 30;
  -fx-hgap: 10;
  -fx-vgap: 15
}
.exercise-4-8-table-view .cell:empty {
  -fx-background-color: #cce6ef;
  -fx-border-width: 0;
}
.exercise-4-8-table-view .table-column {
  -fx-alignment: CENTER;
}

/* Specific values for excercise 4.18, 4.19 and 4.20  */
.exercise-4-18-19-20 {
  -fx-padding: 30;
}
.exercise-4-18-19-20 .label {
  -fx-font-size: 16;
  -fx-font-weight: bold;
}
.exercise-4-18-19-20 .chart {
  -fx-legend-visible: false;
}
